@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    height: 100vh;
    color: #EEEEEE;
    background-color: #222831;
    /*display: flex;*/
    justify-content: center;
    align-items: center;

    /*background-image: url('../assets/10.jpeg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
}



.container{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: inherit;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #31363F;
  background-color: #31363F;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

.container:hover {
  text-shadow: 0 0 30px #76ABAE, 0 0 30px #76ABAE;
}

.boxes-container {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-items: stretch; /*make boxes same size*/
}

/*.boxes-container {
  padding-top: 25px;
}* column layout*/

.box1, .box2 {
  width: 48%;
  border: 2px solid #31363F;
  padding: 20px 40px;
  background-color: #31363F;
  border-radius: 30px; /* This line gives the cards their rounded edges */

}

.box1 {
  margin-left: 10px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.myphoto{
  border-radius: 50%;
  max-width: 30%;
  max-height: 100%;
  object-fit: cover; /*maintains aspect ratio*/
  display:block;
  margin: 0 auto;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.btns {
  display: flex;
  justify-content: space-between;
  
}
.contactBtn {
  text-decoration: none;
  background-color: #76ABAE;
  margin-right: 12px; /*space between buttons*/
  color: #010101;
  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);
  transition: box-shadow 0.35s ease-in-out; /* Increased duration and used ease-in-out for a smoother effect */
}

.contactBtn:hover {
  box-shadow: 0 0 15px 5px #76ABAE; /* Adjust the color and size to achieve the desired glow effect */
}

.lnBtn {
  text-decoration: none;
  background-color: #0077B5;
  margin-right: 12px; /*space between buttons*/
  color: #000000;
  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);
  transition: box-shadow 0.35s ease-in-out; /* Increased duration and used ease-in-out for a smoother effect */
}

.lnBtn:hover {
  box-shadow: 0 0 15px 5px rgba(10, 165, 255, 0.6); /* Adjust the color and size to achieve the desired glow effect */
}

.gbBtn {
  text-decoration: none;
  background-color: #333;
  color: #f5f5f5;
  margin-right: 10px;
  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);
  transition: box-shadow 0.35s ease-in-out; /* Increased duration and used ease-in-out for a smoother effect */
}

.gbBtn:hover {
  box-shadow: 0 0 15px 5px #111; /* Adjust the color and size to achieve the desired glow effect */
}

.resumebutton {
  text-decoration: none;
  background-color: #76ABAE;
  color: #111;
  margin-right: 10px;
  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);
  transition: box-shadow 0.35s ease-in-out; /* Increased duration and used ease-in-out for a smoother effect */
}

.resumebutton:hover {
  box-shadow: 0 0 15px 5px #76ABAE; /* Adjust the color and size to achieve the desired glow effect */
}


.box2 {
  margin-right: 10px;
}


.aboutItem {
  margin-top: 20px;
}

.edu {
  text-decoration: none;
  background-color: #00274C;
  margin: 10px;
  color: #FFCB05;

  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);

  position: relative;
  cursor: pointer;

  overflow: hidden; /* Ensures the pseudo-element doesn't overflow the item */
  transition: color 0.3s ease; /* Transition for text color change */

}

.edu:hover {
  background-image: linear-gradient(to right, #00274C 50%, #FFF 50%); /* Half blue, half white */
  background-size: 200% 100%; /* Double the background size */
  background-position: right bottom; /* Shift the background */
  transition: background-position 0.3s ease-in-out, color 0.3s ease; /* Transition for background and text color */
}

.edu:hover {
  color: #010101; /* Change text color on hover for better contrast */
}

.IteminTech{
  text-decoration: none;
  background-color: #76ABAE;
  margin: 10px;

  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);

  position: relative;
  cursor: pointer;

  overflow: hidden; /* Ensures the pseudo-element doesn't overflow the item */
  transition: color 0.3s ease; /* Transition for text color change */

}
/* Hover effect */
.IteminTech:hover {
  background-image: linear-gradient(to right, #76ABAE 50%, #FFF 50%); /* Half blue, half white */
  background-size: 200% 100%; /* Double the background size */
  background-position: right bottom; /* Shift the background */
  transition: background-position 0.3s ease-in-out, color 0.3s ease; /* Transition for background and text color */
}

.IteminTech:hover {
  color: #FFF; /* Change text color on hover for better contrast */
}

.IteminClass:hover {
  background-image: linear-gradient(to right, #76ABAE 50%, #FFF 50%); /* Half blue, half white */
  background-size: 200% 100%; /* Double the background size */
  background-position: right bottom; /* Shift the background */
  transition: background-position 0.3s ease-in-out, color 0.3s ease; /* Transition for background and text color */
}

.IteminClass:hover {
  color: #FFF; /* Change text color on hover for better contrast */
}

.IteminClass{
  text-decoration: none;
  background-color: #76ABAE;
  margin: 10px;

  border-radius: 100px;
  font-size: inherit;
  font-weight: 600;
  padding: 11px 22px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);

  position: relative;
  cursor: pointer;

  overflow: hidden; /* Ensures the pseudo-element doesn't overflow the item */
  transition: color 0.3s ease; /* Transition for text color change */

}

.ListofClasses .IteminClass p {
  color: #010101;
}

.ListofClasses {
  list-style-type: none; /* Removes the default list bullets */
  padding: 0; /* Removes the default padding */
  display: flex; /* Displays list items in a row */
  flex-wrap: wrap; /* Allows items to wrap onto the next line if there's not enough space */
}

.ListofTechnologies .IteminTech p{
  color: #010101;
}

.ListofTechnologies {
  list-style-type: none; /* Removes the default list bullets */
  padding: 0; /* Removes the default padding */
  display: flex; /* Displays list items in a row */
  flex-wrap: wrap; /* Allows items to wrap onto the next line if there's not enough space */
}

.githubStats {
  display: flex;
  align-items: center;
}

.githubStats img {
  width: 50%;
}

@media (max-width: 700px) {
  .boxes-container {
    flex-direction: column;
    align-items: center;
  }

  .box1, .box2 {
    width: 96%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .box1 content, .box2 content2 {
    text-align: center;
  }

  .aboutItemText {
    width: 100%; /* Ensures the container spans the entire width of its parent */
    display: flex; /* Initiates Flexbox layout */
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
  }

  .ListofTechnologies {
    justify-content: center; /* Centers the flex items horizontally */
  }

  .leetcodeStats {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
  }

  .leetcodeStats img {
    width: 80%; /* Adjust the width of the image to fit within the container */
    margin: 0 auto; /* Center the image horizontally */
  }

  .bball {
    width: 100%; /* Use 100% of the container width */
    height: auto; /* Maintain the aspect ratio of the video */
    display: block; /* Block display to fill the width of the container */
    margin: 0 auto; /* Center the video horizontally */
  }

  .btns {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    gap: 10px; /* Add space between stacked buttons */
  }

  .contactBtn,
  .lnBtn,
  .gbBtn,
  .resumebutton {
    width: 80%; /* Set a specific width for buttons to maintain uniformity */
    margin-right: 0; /* Remove right margin as it's no longer needed */
    margin-bottom: 10px; /* Add some space below each button */
  }

  .contactBtn:last-child,
  .lnBtn:last-child,
  .gbBtn:last-child,
  .resumebutton:last-child {
    margin-bottom: 0; /* Remove bottom margin from the last button */
  }

}





