@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  font-family: "Ubuntu", sans-serif;
}*/

body {
  background-color: #222831;
}


a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  height: 90px;
  background-color: #31363F;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo i {
  color: #76ABAE;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.content-wrap {
  flex: 1;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 24px;
  /*border-right: 1px solid #999999;*/
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: #999999;
  padding: 8px 16px;
}
.menu-links a:hover {
  color: white;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


@media (max-width: 53rem) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px; 
    right: 0;
    background-color: #31363F;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100; /* Ensure the menu is above other content */
  }

  .menu.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }

  /* Ensure menu links fill the menu and are stacked vertically */
  .menu-links {
    flex-direction: column;
    width: 100%;
  }

  .menu-links a {
    width: 100%; 
    padding: 16px;
    color: white; 
  }

  /* Styles for animating the menu button into a cross */
  .menu-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-btn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}