@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  color: #EEEEEE;
  background-color: #222831;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}