@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  color: #EEEEEE;
  background-color: #222831;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;

  animation: movedown 1s linear forwards;

  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 2s;
}
.container:nth-child(4) {
  animation-delay: 3s;
}

.textbox {
  display: flex; /* Enables Flexbox */
  flex-direction: column; /* Stacks flex items vertically */
  justify-content: center; /* Centers flex items along the main axis (vertically, in this case) */
  padding: 20px 30px;
  background: #31363F;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  height: 100%; /* You might need to adjust this based on your design */
}

.textbox:hover{
  cursor: pointer;
}

.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img{
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #76ABAE;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;

  animation: moveline 4s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.textbox h2 {
  font-weight: 600;
}

.textbox small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #76ABAE;
  right: -15px;

}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #76ABAE;
  left: -15px;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #31363F;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  border-radius: 5px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
  height: 100%; /* Full height */
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after{
    left: 31px;
  }

  .container{
    width:100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .textbox{
    font-size: 13px;
  }

  .textbox small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img, .right-container img {
    left: 10px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}


