{%extends "navbar.html"%}
{%block content%}

<div class="home">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

    </head>
    <body>
        <title>Main</title>
        <div class="container">
            <h1>My Portfolio</h1>
        </div>

        <div class = "boxes-container">
            <div class = "box1">
                <div class = "content">
                    <img class = "myphoto" src="./static/assets/mypic.jpg" alt="">
                    <h1 class = "title"> Hi, My Name is Saad</h1>
                    <p class = "description"> Here you will find some of my notable projects and some information about me. </p>
                    <div class = "btns">
                        <a href="mailto:saadmb@umich.edu" class="contactBtn"><i class = "fa fa-share", aria-hidden="true"></i> Contact Me</a>
                        <a href="https://www.linkedin.com/in/muhammadsaadbabar/" class="lnBtn"> <i class = "fab fa-linkedin"></i> LinkedIn </a>
                        <a href="https://github.com/saadbabar" class="gbBtn"><i class = "fab fa-github"></i> Github</a>
                        <a href="static/assets/newestG3_25_24_SaadsRsmeLTx.pdf" class="resumebutton" download>
                            <i class="fa fa-file-alt" aria-hidden="true"></i> Resume
                        </a>
                    </div>
                    



                    <ul class = "aboutItems">
                        <li class = "aboutItem">
                            <div class = "aboutItemText">
                                <h3>Education</h3>
                                <p class = "edu">University of Michigan - Ann Arbor, Bachelor's in Computer Science</p>
                            </div>
                        </li>
                        <li class = "aboutItem">
                            <div class = "aboutItemText">
                                <h3>Coursework</h3>
                                <div class = "Classes">
                                    <ul class = ListofClasses>
                                        <li class = "IteminClass">
                                            <p>Data Structures & Algorithms</p>
                                        </li>
                                        <li class = "IteminClass">
                                            <p>Computer Organization</p>
                                        </li>
                                        <li class = "IteminClass">
                                            <p>Foundations of Computer Science</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class = "aboutItem">
                            <div class = "aboutItemText">
                                <h3>Languages, Frameworks, Other</h3>
                                <div class = "Technologies">
                                    <ul class = ListofTechnologies>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-cplusplus-plain" ></i> C++</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-c-plain" ></i> C</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-python-plain" ></i> Python</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-javascript-plain" ></i> Javascript</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-html5-plain" ></i> HTML</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-css3-plain" ></i> CSS</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-r-plain" ></i> R</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p>Excel</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-flask-plain" ></i> Flask</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-react-plain" ></i> React.js</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-visualstudio-plain" ></i> Visual Studio</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-vscode-plain" ></i> VS Code</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-git-plain" ></i> Git</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-github-plain" ></i> Github</p>
                                        </li>
                                        <li class = "IteminTech">
                                            <p><i class="devicon-ubuntu-plain" ></i> Ubuntu</p>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class = "box2">
                <div class = "content2">
                    <h1 class = "title2"> Highlights</h1>
                    <p class = "description2"> Will replace with technical stuff. </p>
                    <div class = "githubStats">
                        <img src="https://raw.githubusercontent.com/saadbabar/github-stats/master/generated/languages.svg#gh-dark-mode-only" alt="GitHub Languages - Dark Mode" style="display: none;" onload="this.style.display='block'" class="gh-dark-mode-only">
                        <img src="https://raw.githubusercontent.com/saadbabar/github-stats/master/generated/overview.svg#gh-dark-mode-only" alt="GitHub Languages - Dark Mode" style="display: none;" onload="this.style.display='block'" class="gh-dark-mode-only">

                    </div>

                    <div class = "leetcodeStats">
                        <a href="https://leetcode.com/saadbabar">
                            <img src="https://leetcard.jacoblin.cool/saadbabar?animation=true" alt="Leetcode Stats">
                        </a>
                    </div>
                    <video class = "bball" width="540" height="400" controls>
                        <source src="./static/assets/IMG_1493.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
                
            </div>
        </div>
    </body>
</div>
{%endblock%}
