{%extends "navbar.html"%}
{%block content%}

<div class="home">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>My Portfolio</h1>
            <p> Welcome to my Portfolio! My Name is Saad.</p>
        </div>
    </body>
</div>
{%endblock%}
