{%extends "navbar.html"%}
{%block content%}

<div class="home">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <title>Main</title>
        <div class="container">
            <h1>My Portfolio</h1>
        </div>

        <div class = "boxes-container">
            <div class = "box1">
                <div class = "content">
                    <h1 class = "title"> Hi, My Name is Saad</h1>
                    <p class = "description"> Here you will find some of my notable projects and some information about me. </p>
                    <a href="mailto:saadmb@umich.edu" class="contactBtn"> Contact Me</a>
                </div>
            </div>
    
            <div class = "box2">
                <div class = "content2">
                    <h1 class = "title2"> My Picture</h1>
                </div>
                
            </div>
        </div>
    </body>
</div>
{%endblock%}
